.github, .twitter {
  padding-left: 22px;
}

.github {
  background: url('../images/GitHub-Mark/GitHub-Mark-Light-32px.png') 3px 4px no-repeat;
  background-size: 16px 16px;
}

.twitter {
  background: url('../images/twitter32.png') 3px 4px no-repeat;
  background-size: 16px 16px;
}
