.home
  %h1 Quickstart

  %p
    %a{:href => "https://github.com/soundasleep/quickstart"} Quickstart
    is a barebones PHP application, set up with common web development
    frameworks, which you can quickly clone or copy to jump straight into a new web project.

  %h2 Features

  %ul
    %li Coffeescript is compiled into Javascript
    %li SCSS is compiled into CSS
    %li HAML is compiled into HTML using templates
    %li CSS images are spritified using spritify
